main{
    background-image: linear-gradient(red, yellow);

    background-repeat: no-repeat;
}
.elonh{
    height: 189px;
}
.dorah{
    height: 189px;
}
.onlineicon{
    color: greenyellow;
}
.par-indent{
    text-indent: 50px;
}
.underlining{
    text-decoration: underline;
}